<div class="mainContainer">
    <div class="login">
        <div class="row logo">
            <div class="col text-center">
                <p class="title">{{queryTemplateChild.language}}-{{queryTemplateChild.elementType}}</p>
            </div>
        </div>
        <div class="row text-center">
            <p>
                Number of Inputs Needed:
                <select #inputs style="width: 50px" name="snippetSelect" (change)="GetNumberOfInputs(inputs.value)">
                    <option>0</option>
                    <option *ngFor="let number of numbersSelect" value={{number}}>{{number}}</option>
                </select>
            </p>
            <div *ngFor="let number of filteredNumbers; index as i">
                <p>
                    Input #{{number}}:
                    <input #input type="text" name="name" (change)="AddToList(input.value, i)">
                </p>
            </div>
            <div *ngIf="filteredNumbers.length > 0">
                <button class="button btn btn-primary" style="margin: 20px; width: 25%" (click)="GetCode()">
                    Get Code
                </button>                
            </div>
            <div>
                <p id=here>&nbsp;</p>
    <form>
      <input type="button" value="How to use" class="button btn btn-primary" style="margin: 10px; width: 25%" onclick=
      'document.getElementById("here").innerHTML="1. Select Language & Element<br>2. Enter your desired Inputs and Get Code<br>3. Select language in compiler below<br>4. Copy and paste code<br>5. Run!"'>
    </form>
        </div>
        <div class="row">
            <textarea class="snippet">{{this.chatGpt.response}}</textarea>
        </div>
        <div class="row">
            <div class="container text-center">
                <div class="button btn btn-primary" style="width: 25%; margin: 25px" id="sendMessage" (click)="CopyToClipboard(this.chatGpt.response)">Copy Code
                </div>
            </div>
        </div>
        <iframe id="oc-editor" frameBorder="0" height="600px" src="https://onecompiler.com/embed/?listenToEvents=true" width="100%">
        </iframe>
    </div>
</div>