<div class="mainContainer">
    <div class="login">
        <div class="row logo">
            <div class="col text-center">
                <p class="title">{{this.snippet.language}} - {{this.snippet.description}}</p>
            </div>
        </div>
        <div class="row">
            <table>
                <th style="background-color: darkgrey; height: 45px; border: black solid 1px;">
                    <div class="row">
                    <div class="col text-start">
                        <i class="fa-solid fa-bookmark icons" *ngIf="snippet.favorite; else notFavorite" style="padding: 10px; padding-left: 35px; font-size: 25px; color: #eeb421" (click)="RemoveDeleteFavorite()"></i>
                        <ng-template #notFavorite>
                            <i class="fa-solid fa-bookmark icons" style="padding: 10px; padding-left: 35px; font-size: 25px; color: black" (click)="RemoveDeleteFavorite()"></i>
                        </ng-template>                        
                    </div>
                    <div class="col text-center" style="font-size: 25px;">
                        {{snippet.description}}
                    </div>
                    <div class="col text-end" (click)="copyToClipboard(snippet.snippetText)">
                        <i class="fa-regular fa-clipboard icons" style="padding: 10px; padding-right: 35px; font-size: 25px; color: black"></i>
                    </div>
                </div>
                </th>
            </table>
            <textarea class="snippet">{{this.snippet.snippetText}}</textarea>
        </div>
        <div class="row">
            <div class="container text-center">
                <div class="button btn btn-primary" style="width: 25%;" (click)="copyToClipboard(this.snippet.snippetText)">Copy Code</div>               
                <div class="button btn btn-primary" style="width: 25%;" (click)="deleteSnippet()">Delete</div>
                <div class="button btn btn-primary" style="width: 25%;" (click)="showEditForm()">Edit</div>
            </div>
        </div>
    </div>
</div>  
    <div class="mainContainer" *ngIf="showEdit">
        <div class="login">
        <div clas="row">
        <form (ngSubmit)="editSnippet()">
        <textarea class="container" placeholder="Edited Code Here" rows="10" name="editSnippet" [(ngModel)]="editedSnippet.snippetText"></textarea>
        <input class="btn btn-primary" type="submit" value="Update">
        </form>
    </div>
    </div>
    </div>

