<div class="mainContainer">
    <div class="login">
        <div class="row logo">
            <div class="col text-center">
                <p class="title">{{this.snippet.language}} - {{this.snippet.keyWord}}</p>
            </div>
        </div>
        <div class="row">
            <textarea class="snippet">{{this.snippet.snippetText}}</textarea>
        </div>
        <div class="row">
            <div class="container text-center">
                <div class="button btn btn-primary" style="width: 25%;" (click)="copyToClipboard(this.snippet.snippetText)">Copy Code</div>               
            </div>
        </div>
    </div>
</div>