<div class="slh-header">
  <div class="slh-row">
    <div class="col" style="flex-grow: 1;">
      <img class="logo" src="/assets/img/logo2.png">
    </div>  
    <div class="col text-center" style="flex-grow: 10;">
      <p class="slh-name" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CodeGuru</p>
    </div>
    <div class="col" style="flex-grow: 1;">
      <a [routerLink]="['/user', 0]">
        <i class="fa fa-user-circle-o accountIcon" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<div class="slh-container">
    <div class="slh-row">
        <div class="col blue-bar">              
        </div>
    </div>
</div>
<div class="slh-container">
  <div class="slh-row">
    <div class="col text-center" style="flex-direction: column; flex-grow: 1; background-color:whitesmoke; padding: 5px 5px;">
      <a [routerLink]="['languages']">
        <i class="fas fa-code" aria-hidden="true" style="color: #eeb421; font-size: 35px; padding-top: 25px;"></i>
      </a>              
      <p class="iconText hidden-mobile">Snippets</p> 
      <a [routerLink]="['querytemplateselect']">
        <i class="fas fa-database" aria-hidden="true" style="color:#eeb421; font-size: 35px"></i>
      </a>              
      <p class="iconText hidden-mobile">Query</p>
      <a [routerLink]="['unittests']">
        <i class="fas fa-cogs" aria-hidden="true" style="color:#eeb421; font-size: 35px"></i>
      </a>
      <p class="iconText hidden-mobile">Unit Tests</p>
      <a [routerLink]="['translate']">
        <i class="fas fa-exchange-alt" aria-hidden="true" style="color:#eeb421; font-size: 35px;"></i>
      </a>
      <p class="iconText hidden-mobile">Translation</p>
      <a [routerLink]="['addsnippet']">
        <i class="fas fa-plus" aria-hidden="true" style="color:#eeb421; font-size: 35px;"></i>
      </a>
      <p class="iconText hidden-mobile">Add Snippet</p>            
    </div>
    <div class="col postContainer" style="padding-bottom: 25px; flex-direction: column; flex-grow: 10; overflow-y: auto; height: 100vh; background-color: darkgray;">
      <router-outlet></router-outlet>          
    </div>
    <div class="col text-center hidden-mobile" style="flex-direction: column; flex-grow: 1; background-color:white; overflow-y: auto;">
      
    </div>
  </div>    
</div>
