
<div class="loginBackground">
    <div class="login" style="margin-left: 30%;">
        <div class="row logo">
            <div class="col text-center">
                <img src="" style="height: 150px; width: auto; background-color: transparent;">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="title">CodeGuru</p>
            </div>
        </div>
        <form (ngSubmit)="Login()" class="loginFonts">
            <div>
                <label for="username">Username:</label>
                <input class="username" type="text" name="username" [(ngModel)]="loginCredentials.email">
            </div>
            <div>
                <label for="password">Password:</label>
                <input class="password" type="password" name="password"[(ngModel)]="loginCredentials.password">
            </div>
            <div class="text-center">
                <input type="submit" class="btn button btn-primary loginSubmit" value="Login"/>
            </div>
        </form>
        <div class="row text-center">
            <div id="google-btn"></div>
        </div>
        <div class="row text-center">
            <div class="col signUp">Sign Up</div>
            <div class="col forgotPassword">Forgot Pasword</div>
        </div>
    </div>
</div>