<div class="loginBackground">
    <div class="login" style="margin-left: 30%;">
        <div class="row logo">
            <div class="col text-center">
                <img src="/assets/img/logo2.png" style="height: 150px; width: auto; background-color: transparent;">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="title">CodeGuru</p>
            </div>
        </div>
        <table style="width: 80%; margin-left: 10%">
            <tr>
                <td>
                    <label for="email" class="labels">Email:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="texts" type="text" name="email" [(ngModel)]="loginCredentials.email">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password" class="labels">Password:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="texts" type="password" name="password" [(ngModel)]="loginCredentials.password">
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <button class="button btn btn-primary loginSubmit" (click)="Login()">Login</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding-left: 27%;" id="google-btn"></div>
                </td>
            </tr>
        </table> 
    </div>
</div>