<div class="mainContainer">
    <div class="login">
        <div class="container">
            <div class="child">
                <form (ngSubmit)="translateCode()">
                    <textarea rows="10" cols="100" name="query" [(ngModel)]="userInput"
                        placeholder="Paste Code Here"></textarea>
                    <div class="submitContainer">
                        <div class="submitChild">
                            <select name="language" [(ngModel)]="language">
                                <option value="" disabled selected>Choose Language</option>
                                <option *ngFor="let l of languageSelect" value={{l}}>{{l}}</option>
                            </select>
                            <input type="submit" value="Translate Code">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <h2 style="text-align: center;">Translation</h2>
        <div class="container">
            <div class="child">
                <textarea rows="10" cols="100">{{response}}</textarea>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>