<div class="mainContainer">
    <div class="login">
        <div class="row text-center">
            <p>
                Language:
                <select #inputs style="width: 150px" name="snippetSelect" (change)="GetLanguageToUse(inputs.value)">
                    <option>Select Language</option>
                    <option *ngFor="let language of languages" value={{language.languageText}}>{{language.languageText}}</option>
                </select>
            </p>
        </div>
        <div class="row">
            <div class="col text-center" style="margin-top:25px ;">
                <h3>Code To Unit Test</h3>
            </div>
        </div>
        <div class="row">
            <textarea class="snippet" style="margin-bottom: 25px;" [(ngModel)]="this.userPrompt">{{this.userPrompt}}</textarea>
        </div>
        <div class="row text-center">
            <div class="container text-center">
                <div class="button btn btn-primary" style="width: 25%;" (click)="GetUnitTest()">
                    Get Unit Tests
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center" style="margin-top:25px ;">
                <h3>Unit Tests</h3>
            </div>
        </div>
        <div class="row">
            <textarea class="snippet" style="margin-top: 10px;" id="textAreaResponse" [(ngModel)]="this.chatGpt.response"></textarea>
        </div>
        <div class="row">
            <div class="container text-center" style="margin-top: 25px;">
                <div class="button btn btn-primary" style="width: 25%;" id="sendMessage" (click)="CopyToClipboard(this.chatGpt.response)">
                    Copy Code
                </div>
            </div>
        </div>
    </div>
</div>

